##
# @version 3.0: .htaccess 14401 2021-09-22 03:40:00Z Nitesh Apte $
# @package Define MVC - PHP 8.1
# @copyright Copyright (C) 2021 Nitesh Apte. All rights reserved.
# @license GPL Version 3
# @author Nitesh Apte
##

# Disable directory listing
Options -Indexes

ServerSignature Off
DirectoryIndex bootstrap.php

RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ bootstrap.php/$1

# Error redirection # ## Replace %{HTTP_HOST} with your domain name if it doesn't work ##
ErrorDocument 400 %{HTTP_HOST}/error/default/400/
ErrorDocument 401 %{HTTP_HOST}/error/default/401/
ErrorDocument 402 %{HTTP_HOST}/error/default/402/
ErrorDocument 403 %{HTTP_HOST}/error/default/403/
ErrorDocument 404 %{HTTP_HOST}/error/default/404/
ErrorDocument 408 %{HTTP_HOST}/error/default/408/
ErrorDocument 415 %{HTTP_HOST}/error/default/415/
ErrorDocument 500 %{HTTP_HOST}/error/default/500/
ErrorDocument 502 %{HTTP_HOST}/error/default/502/
ErrorDocument 503 %{HTTP_HOST}/error/default/503/